
<!-- BEGIN SLIDE -->
<div class="swiper-slide fit slide-1">
  <!-- BEGIN IMAGE PARRALAX -->
  <div class="slider-wrapper">
    <div class="bg-image full-width full-height" data-swiper-parallax="30%" data-pages-bg-image="assets/images/bg_pattern_1.jpg">
    </div>
  </div>
  <!-- END IMAGE PARRALAX -->
  <!-- BEGIN CONTENT -->
  <div class="content-layer">
    <div class="inner full-height">
      <div class="container-xs-height full-height">
        <div class="col-xs-height col-middle text-center">
          <div class="container sm-m-b-30">
            <div class="row sm-m-b-30">
              <div class="col-md-6 col-md-offset-3 p-b-90 sm-p-b-40 sm-m-b-30">
                <h1 class="light text-white sm-no-margin" data-swiper-parallax="-15%">
                  {{site.data.projects.01ikhair.name}}
                </h1>
                <a href="{{site.data.projects.deeplink.home.link}}" target="_blank" class="block-title text-white link">{{site.data.projects.deeplink.home.label}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END CONTENT -->
  <img class="ipad lazy" draggable="false" src="{{site.data.projects.01ikhair.main_image}}" style="width: 18%;    left: 58%;" alt="" title="" data-swiper-parallax="80%">
  <img class="bg-elements hidden-xs lazy" src="{{site.data.projects.01ikhair.elements_image}}" data-swiper-parallax="-20%" alt="">
</div>
<!-- END SLIDE -->
