<!-- START FOOTER -->
<footer class="p-t-25 p-b-25">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <img src="{{ site.baseurl }}/assets/images/quantatel-logo.png" class="logo inline m-r-50" alt="">
        <div class="m-t-10 inline">
          <ul class="no-style fs-11 no-padding font-arial">
            <li class="inline no-padding"><a href="http://ikhair.net" class=" text-master p-l-15 p-r-15 b-r b-grey">iKhair</a></li>
            <li class="inline no-padding"><a href="http://appgain.io" class=" text-master p-l-15 p-r-15 b-r b-grey">Appgain</a></li>
            <li class="inline no-padding"><a href="http://smartlink.appgain.io" class=" text-master p-l-15 p-r-15 b-r b-grey">Smartlink</a></li>
            <li class="inline no-padding"><a href="#" class=" text-master p-l-15 p-r-15 ">Support</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 text-right sm-text-left font-arial">
        <p class="fs-11 m-t-10">Copyright &copy; 2016 Quantatel. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- END FOOTER -->



<!-- BEGIN VENDOR JS -->
<script type="text/javascript" src="assets/plugins/pace/pace.min.js"></script>
<script type="text/javascript" src="assets/js/pages.image.loader.js"></script>
<script type="text/javascript" src="assets/plugins/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/plugins/swiper/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/velocity/velocity.min.js"></script>
<script type="text/javascript" src="assets/plugins/velocity/velocity.ui.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-appear/jquery.appear.js"></script>
<script type="text/javascript" src="assets/plugins/animateNumber/jquery.animateNumbers.js"></script>
<!-- END VENDOR JS -->
<!-- BEGIN PAGES FRONTEND LIB -->
<script type="text/javascript" src="assets/js/pages.frontend.js"></script>
<!-- END PAGES LIB -->
<!-- BEGIN YOUR CUSTOM JS -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- END PAGES LIB -->
