<!-- BEGIN JUMBOTRON -->
<section id="demo-hero-1" class="jumbotron full-vh" data-pages="parallax">
  <div class="inner full-height">
    <!-- BEGIN SLIDER -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% include slides/ikhair.html %}
        {% comment %}
        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit slide-1">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="bg-image full-width full-height" data-swiper-parallax="30%" data-pages-bg-image="assets/images/bg_pattern_1.jpg">
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-center">
                  <div class="container sm-m-b-30">
                    <div class="row sm-m-b-30">
                      <div class="col-md-6 col-md-offset-3 p-b-90 sm-p-b-40 sm-m-b-30">
                        <h1 class="light text-white sm-no-margin" data-swiper-parallax="-15%">
                                  Something Different
                                    </h1>
                        <a href="#" class="block-title text-white link">Learn more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
          <img class="ipad lazy" draggable="false" src="assets/images/ipad_1.png" alt="" title="" data-swiper-parallax="80%">
          <img class="bg-elements hidden-xs lazy" src="assets/images/bg_elements_1.png" data-swiper-parallax="-20%" alt="">
        </div>
        <!-- END SLIDE -->
        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit slide-3">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="bg-image full-width full-height" data-swiper-parallax="30%" data-pages-bg-image="assets/images/bg_pattern_3.jpg">
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-center">
                  <div class="container sm-m-b-30">
                    <div class="row sm-m-b-30">
                      <div class="col-md-6 col-md-offset-3 p-b-90 sm-p-b-40 sm-m-b-30">
                        <h1 class="light text-white sm-no-margin" data-swiper-parallax="-15%">
                                  Something New
                                    </h1>
                        <a href="#" class="block-title text-white link">Learn more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
          <img class="ipad lazy" draggable="false" src="assets/images/ipad_4.png" alt="" title="" data-swiper-parallax="80%">
          <img class="bg-elements hidden-xs lazy" src="assets/images/bg_elements_3.png" data-swiper-parallax="-20%" alt="">
        </div>
        <!-- END SLIDE -->
        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit slide-2">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="bg-image full-width full-height" data-swiper-parallax="30%" data-pages-bg-image="assets/images/bg_pattern_2.jpg">
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-center">
                  <div class="container sm-m-b-30">
                    <div class="row sm-m-b-30">
                      <div class="col-md-6 col-md-offset-3 p-b-90 sm-p-b-40 sm-m-b-30">
                        <h1 class="light text-white sm-no-margin" data-swiper-parallax="-15%">
                                  Something Exciting
                                    </h1>
                        <a href="#" class="block-title text-white link">Learn more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
          <img class="ipad lazy" draggable="false" src="assets/images/ipad_3.png" alt="" title="" data-swiper-parallax="80%">
          <img class="bg-elements hidden-xs lazy" src="assets/images/bg_elements_2.png" data-swiper-parallax="-20%" alt="">
        </div>
        <!-- END SLIDE -->
        {% endcomment %}
      </div>
      <!-- Add Navigation -->
      <div class="swiper-navigation swiper-white-solid swiper-button-prev"></div>
      <div class="swiper-navigation swiper-white-solid swiper-button-next"></div>
    </div>
  </div>
  <!-- END SLIDER -->
</section>
<!-- END JUMBOTRON -->
