<!-- BEGIN PLUGINS -->
<link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/swiper/css/swiper.css" rel="stylesheet" type="text/css" media="screen" />
<!-- END PLUGINS -->
<!-- BEGIN PAGES CSS -->
<link class="main-stylesheet" href="assets/css/pages.css" rel="stylesheet" type="text/css" />
<link class="main-stylesheet" href="assets/css/pages-icons.css" rel="stylesheet" type="text/css" />
<!-- BEGIN PAGES CSS -->
