
<section id="about-us" class="p-b-85 p-t-75">
  <div class="container">
    <div class="md-p-l-20 md-p-r-20 xs-no-padding">
      <div class="row">
        <div class="col-sm-5 col-md-4">
          <h5 class="block-title hint-text no-margin text-right">{{site.data.aboutus.pretitle}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-md-4">
          <h1 class="m-t-5 text-right">{{site.data.aboutus.title}}</h1>
        </div>
        <div class="col-sm-7 col-md-8 no-padding xs-p-l-15 xs-p-r-15">
          <div class="p-t-20 p-l-35 md-p-l-5 md-p-t-15">
            <p>{{site.data.aboutus.body}}
            <p class="hint-text font-arial small-text col-md-7 no-padding"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
