<section id="our-services" class="p-b-85 p-t-75  bg-master-lightest">
  <div class="container">
    <div class="md-p-l-20 xs-no-padding clearfix">
      <div class="row">
        <div class="col-sm-8 m-b-40">
          <h1>Messaging Services</h1>
          <h2>Stay on top, Delivering and Measuring Excellence
              with our SMS Messaging services.</h2>
          <!-- <p class="hint-text font-arial small-text col-md-4 col-sm-6 no-padding">Via Senior Vice President Design REVOX Ltd. 12345</p> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="device_morph" data-pages="auto-scroll">
            <img alt="" class="xs-image-responsive-height image-responsive-width" src="assets/images/b_phone.png" id="mobile_phone">
            <div class="screen">
              <div class="iphone-border">
                <img src="assets/images/mobile_preview.jpg" class="image-responsive-height lazy loaded" alt="" style="transform: translateY(-1024.5px);">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-1  col-sm-offset-2 col-sm-6">
          <div class="clearfix hidden-sm">
            <!-- <h1>Messaging Services</h1> -->
            <h2>At Quantatel we have a
                 passion for excellence we bring reality to this passion
                  by providing enhanced and innovative SMS solutions and
                   services.</h2>
            <!-- <p class="hint-text font-arial small-text col-md-4 col-sm-6 no-padding"></p> -->
          </div>
          <div class="col-md-9 col-md-offset-1 col-sm-11">
            <div class="p-t-50">
              <dl>
                <dt class="block-title p-b-15 text-black">
                  Operator Content
                  <br/>
                  <span class="hint-text font-arial small-text col-sm-12 no-padding">The Magic of Increasing Your ARPU</span>
                  <br/>
                </dt>
                <dd class="m-b-30">
                  Due to the fact that the rivalry of competition in the
                   telecommunication industry worldwide has become very high,
                    and the fact that different markets are saturated and now
                     each country in the MENA region has up to3-4 operators.
                </dd>
              </dl>
              <dl>
                <dt class="block-title text-black p-b-15 ">
                  SMS Gateway
                  <br/>
                  <span class="hint-text font-arial small-text col-sm-12 no-padding">Managed SMS SMPP Gateway, SMSC Connectivity Solution</span>
                  <br/>
                </dt>
                <dd class="m-b-30">
                  Quantatel provides you with exceptional hosted platform for
                   all your requirements to connect to any SMSC around the Globe,
                    with the high support of all Telecommunication operators.
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
