<!-- Portfolio Section -->
<style media="screen">
  .panel-center {
  text-align: center;
  }
  .panel-center ul.nav {
  display: inline-block;
  }
  .panel-center ul.nav li {
  display: inline a;
  display-float: left;
  }

</style>

<section id="our-projects" class=" p-b-85 p-t-75 no-overflow">
  <div class="container">
    <div class="row m-b-30">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h1 class="m-t-5">Our Project</h1>
        <p>
          Mobile applications give a unique and valued touch to boost the
           performance & functions of mobile devices. All mobile.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-transparent">
        <div class="panel-center">
          <ul class="nav nav-tabs nav-tabs-simple nav-tabs-top " id="portfolio-01-tabs">
            {% for app_hash in site.data.projects %}
              {% assign app = app_hash[1] %}
              {% if app.published %}
              <li class="{%if forloop.first %}active{%endif%}">
                <!-- {{app}} -->
                <a data-toggle="tab" href="#{{app.slug}}">
                  <img class="inline v-align-top m-b-10" height="56" src="{{app.icon}}" alt="{{app.name}}">
                  <br/><span>{{app.name}}</span>
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="tab-content">
          {% for app_hash in site.data.projects %}
            {% assign app = app_hash[1] %}
            {% if app.published %}
            <div class="tab-pane m-t-70 {%if forloop.first %}active{%endif%}" id="{{app.slug}}">
              <div class="md-p-l-20 md-p-r-20 xs-no-padding">
                <h5 class="block-title hint-text no-margin">{{app.pretitle}}</h5>
                <div class="row">
                  <div class="col-sm-5">
                    {% if app.home %}
                      <h1 class="m-t-5 m-b-20">
                        <a href="{{app.home}}" target="_blank">{{app.name}}</a>
                      </h1>
                    {% else %}
                      <h1 class="m-t-5 m-b-20">
                        {{app.name}}
                      </h1>
                    {% endif %}
                    <p class="m-b-20">{{app.brief}}</p>
                    {%if app.client %}
                    <h6 class="block-title  hint-text fs-12">
                      <span>beneficiary </span><br/>
                      <a  href="{{app.client.home}}"
                          target="_blank"
                          style="text-transform: capitalize;">
                        {{app.client.name}}
                      </a>
                    </h6>
                    {% endif %}
                    {% if app.platforms %}
                    <div class="pull-left sm-pull-reset !-text-center m-t-5">
                      <p class="hint-text font-arial small-text no-padding">
                        {%if app.enterprise_app %}
                          Enterprise Published
                        {% else %}
                        Available on
                        {% endif %}
                      </p>
                      {% for trgt in app.platforms %}
                        {% if app.enterprise_app %}
                          <img class="inline v-align-top m-r-10" height="40" src="{{site.data.icons.[trgt.type].logo}}" alt="{{trgt.type}}">
                        {% else %}
                          <a href="{{trgt.link}}" target="_blank">
                            <img class="inline v-align-top m-r-10 m-b-10" height="40" src="{{site.data.icons.[trgt.type].store.black}}" alt="{{trgt.type}}">
                          </a>
                        {% endif %}
                      {% endfor %}
                    </div>
                    {% endif %}
                  </div>
                  <div class="col-sm-7 no-padding xs-p-l-15 xs-p-r-15">
                    <div class="content-mask-md">
                      {% if app.main_image %}
                      <div class="device_morph pull-center-inner" style="transform: translateY(-100px);">
                        <img alt="" class="xs-image-responsive-height image-responsive-width pull-right" src="{{app.main_image}}">
                      </div>
                      {% endif %}
                      {% comment %}
                      <div class="device_morph pull-center-inner" id="iphone01" data-pages="float" data-max-top-translate="40" data-max-bottom-translate="300" data-speed="-0.1" data-delay="1000" data-curve="ease" style="transition: transform 1s ease; transform: translateY(39.7692px);">
                        <img alt="" class="xs-image-responsive-height image-responsive-width" src="assets/images/b_phone.png">
                        <div class="screen">
                          <div class="iphone-border">
                            <img src="assets/images/mobile_preview.jpg" class="image-responsive-height lazy loaded" alt="">
                          </div>
                        </div>
                      </div>
                      {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
          <div class="tab-pane" id="app-islam-radio">
            <div class="md-p-l-20 md-p-r-20 xs-no-padding">
              <h5 class="block-title hint-text no-margin">Live Streaming Islamic Radio</h5>
              <div class="row">
                <div class="col-sm-5">
                  <h1 class="m-t-5 m-b-20">Islam Radio</h1>
                  <p class="m-b-20">
                    Mobile Donation platform , where you can easily donate to well
                     known and government licensed charity organizations across Arab's
                      world works as a hub for charity organizations. This application
                       makes donations simple and easy.
                  </p>
                  <div class="pull-left sm-pull-reset text-center m-t-5">
                    <p class="hint-text font-arial small-text no-padding">
                      Available on
                    </p>
                    <a href="#portfolio-ikhair"><img class="inline v-align-top m-r-10" height="40" src="assets/images/banner-on_the_app_store-black.png" alt=""></a>
                    <a href="#portfolio-ikhair"><img class="inline v-align-top m-r-10" height="40" src="assets/images/banner-bb_world-black.png" alt=""></a>
                  </div>
                </div>
                <div class="col-sm-7 no-padding xs-p-l-15 xs-p-r-15">
                  <div class="content-mask-md">
                    <div class="device_morph pull-center-inner" id="iphone01" data-pages="float" data-max-top-translate="40" data-max-bottom-translate="300" data-speed="-0.1" data-delay="1000" data-curve="ease" style="transition: transform 1s ease; transform: translateY(39.7692px);">
                      <img alt="" class="xs-image-responsive-height image-responsive-width" src="assets/images/b_phone.png">
                      <div class="screen">
                        <div class="iphone-border">
                          <img src="assets/images/mobile_preview.jpg" class="image-responsive-height lazy loaded" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio Section -->
